.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 868px;
}

.navigation__list {
  display: flex;
  gap: 5px;
}

.navigation__link {
  color: #474955;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 137.687%;
}


.navigation__link_active {
  color: #7EBC3C;
}

.navigation__button {
  background: transparent;
  color: #474955;
  font-size: 24px;
  font-weight: 500;
  line-height: 137.687%;
}
