.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 25px 10px 12px 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

.table__row {
  display: flex;
  width: 100%;
  flex: 1 1 100%;
}

.table__row td,
.table__row th {
  font-size: 14px;
  line-height: 137.687%;
  padding: 15px 25px;
}

@media (max-width: 425px) {
  .table__row td,
  .table__row th {
    padding: 15px 15px;
  }
}

@media (max-width: 375px) {
  .table__row td,
  .table__row th {
    padding: 15px 8px;
  }
}

.table__row td {
  color: #474955;
  font-size: 13px;
  font-weight: 500;
  line-height: 137.687%;
  border: 1px solid #e3e6ec;
  display: flex;
  align-items: center;
}

td:first-child,
th:first-child {
  max-width: 110px;
  width: 100%;
  justify-content: center;
}

td:nth-child(2),
th:nth-child(2) {
  max-width: 529px;
  width: 100%;
}

td:last-child,
th:last-child {
  max-width: 432px;
  width: 100%;
}

.table__result {
  font-size: 16px;
  text-align: center;
  margin: 30px;
}
